@import "tailwindcss";

@theme {
  --color-hermosillo-darkBlue: #1a2b4b;
  --color-hermosillo-mediumBlue: #254467;
  --color-hermosillo-stateBlue: #4a6fa5;
  --color-hermosillo-palm: #6c7d47;
  --color-hermosillo-paleBlue: #a0b4d0;

  --animate-fade-in: fade-in 0.5s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Global Styles */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
